<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mapia"  >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name="com.mapia.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_mapia"
        android:label="@string/mapia"
        android:theme="@style/NoActionBar">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC0VInmJQRadVHVYw3UgZnmjouhOof714U" />



        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/mapia"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".myfeed.MyfeedActivity"
            android:label="MyfeedActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".post.PostActivity"
            android:label="PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".camera.CameraActivity"
            android:label="CameraActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize">

        </activity>

        <activity
            android:name=".scheme.SchemeActivity"
            android:label="SchemeActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".tutorial.TutorialActivity"
            android:label="TutorialActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:label="LoginActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:configChanges="keyboardHidden|orientation"
            android:name="com.mapia.home.HomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>

        <activity
            android:name=".search.SearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"/>


        <activity
            android:name=".s3.S3Activity"
            android:label="S3Acitivity" >
        </activity>
        <activity
            android:name=".s3.DownloadActivity"
            android:label="DownloadAcitivity" >
        </activity>
        <service
            android:name=".s3.network.NetworkService"
            android:exported="false"/>

        <activity
            android:name=".login.SignupActivity"
            android:label="@string/title_activity_signup"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".sns.SNSActivity"
            android:label="SNSActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".sns.asne.core.OAuthActivity" />
        <activity
            android:name=".map.MapActivity"
            android:label="MapActivity"
            android:theme="@style/AppTheme"  />
        <activity
            android:name="com.facebook.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />



        <activity
            android:name=".post.WritePostActivity"
            android:label="@string/title_activity_write_post"
            android:theme="@style/AppTheme" >
        </activity>
    </application>

</manifest>
